.post-parent{
  display:flex;
  min-height:150px;
  border:none;
  border-radius:5px;
  margin:5px;
}
.post-avatar{
  display:flex;
  width:20%;
  justify-content: center;
  align-items: flex-start;
}
.post-avatar *{
  margin :10px;
  border-radius:50%;
  width:60px;
  height:60px;
}
.post-body{
  display:flex;
  flex-direction:column;
  width:80%;
}
.post-title{
  margin:0;
  padding:5px;
  height:20%;
}
.post-sms{
  margin:0;
  padding:5px 10px;
  height:80%;
}
